NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STORE_NAME=TECHVERSE
NEXT_PUBLIC_STORE_WHATSAPP=
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_PRIVATE_KEY=
WOMPI_ENVIRONMENT=sandbox
ADMIN_PASSWORD_HASH=
ADMIN_SESSION_SECRET=
